In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('dados.csv')

In [4]:
v = np.linspace(0.001,0.2,200)

In [7]:
for i in range(v.shape[0]):
    try:
        if i == 0 or i == v.shape[0]-1:
            selecao = df.Rg1 == v[i]
        else:
            selecao = (df.Rg1 > v[i-1]) & (df.Rg1<v[i+1])
        df[selecao].loc[:, ['Rg2', 'Rg3', 'Erro']].to_csv(f'{int(v[i]*1000)}.csv', index=False)
    except:
        pass

In [19]:
df[(df.Rg1 > 0.006) & (df.Rg1<0.008)].loc[

          Rg1    Rg2    Rg3     Erro
240000  0.007  0.001  0.001  0.09222
240001  0.007  0.001  0.002  0.09224
240002  0.007  0.001  0.003  0.09226
240003  0.007  0.001  0.004  0.09227
240004  0.007  0.001  0.005  0.09229
...       ...    ...    ...      ...
279995  0.007  0.200  0.196  0.09086
279996  0.007  0.200  0.197  0.09087
279997  0.007  0.200  0.198  0.09089
279998  0.007  0.200  0.199  0.09090
279999  0.007  0.200  0.200  0.09091

[40000 rows x 4 columns]